@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
header{
    width: 91vw;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1.5rem;
}
nav a{
    text-decoration: none;
}
.logo-div img{
    width: 55%;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul a{
    color: #475569;
}
nav ul li{
    margin-left: 2rem;
}
.lg-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.lg-div li a{
    color: #475569;
}
.btn-link{
    background: linear-gradient(93.39deg, #35977F 3.19%, #006B56 102.74%);
    box-shadow: 0px 4px 8px rgba(73, 84, 90, 0.2);
    border-radius: 5px;
    color: white;
    padding: .5rem 1.5rem;
    margin-left: 1.5rem;
}
.cnt1{
    display: flex;
    padding-top: 5rem;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.cnt-img img{
    width: 100%;
}
.p1{
    font-weight: 400;
    font-size: 2.3rem;
    margin-bottom: .7rem;
}
.cnt1 h3{
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
}
.span1{
    color: #35977F;
}
.cnt-img{
    flex-basis: 40%;
}
.cnt-txt{
    flex-basis: 60%;
}
.btn1{
    background: linear-gradient(93.39deg, #35977F 3.19%, #006B56 102.74%);
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: .8rem;
    margin-top: 6rem;
}
.get-div{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2.6rem;
}
.get-div img{
    width: 12%;
}
.get-div .get1{
    margin-right: 2rem;
}
.get1, .get2{
    border: 1.3px solid #1E293B;
    padding: 1rem;
    border-radius: .8rem;
}
.span2{
    font-size: 1.4rem;
    font-weight: 400;
}
.bdy-cnt{
    width: 91vw;
    margin: auto;
    /* border: 1px solid red; */
    font-family: 'Inter', sans-serif;
}
.bdy-cnt-txt{
    text-align: center;
}
.bdy-cnt-txt h3{
    color: #186250;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
.bdy-cnt-txt p{
    font-size: 1.3rem;
}
.bdy-cnt-flexes{
    margin-top: 8.5rem;
}
.flex1, .flex2, .flex3{
    display: flex;
    align-items: center;
    width: 100%;
}
.invest-img{
    /* border: 1px solid blue; */
    /* width: 20%; */
    flex-basis: 75%;
}
.invest-img img{
    width: 70%; 
}
.invest-txt{
    /* border: 1px solid red; */
    flex-basis: 45%;
    justify-self: flex-end;
    /* text-align: center; */
}
.invest-txt h3, .savings-txt h3{
    color: #186250;
    font-size: 2rem;
}
.invest-txt p, .savings-txt p{
    color: #475569;
    font-size: 1.3rem;
    width: 75%;
    line-height: 1.8;
    /* border: 1px solid black; */
    margin: 2.5rem 0;
}
.invest-txt button, .savings-txt button{
    background: linear-gradient(93.39deg, #35977F 3.19%, #006B56 102.74%);
    color: white;
    border-radius: .7rem;
    padding: .8rem 1.5rem;
    border: none;
}
.flex2{
    margin-top: 5rem;
}
.savings-txt{
    flex-basis: 75%;
}
.savings-img{
    flex-basis: 65%;
}
.savings-img img{
    width: 90%;
}
.flex3{
    margin-top: 3rem;
}
.iphone-img img{
    width: 90%;
}